<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icons"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <h1>{{ title }}</h1>
  <span class="spacer"></span>

  <button
    mat-icon-button
    class="icons"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <button
    mat-icon-button
    class="icons"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
