@import '~@angular/material/theming';

// Defina uma configuração de tipografia personalizada que substitui a família de fontes
// Ex.: mat-typography-level(font-size, line-height, font-weight)
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace, Arial',
  $display-4: mat-typography-level(28px, 48px, 700),
  $headline: mat-typography-level(28px, 48px, 700),
  $title: mat-typography-level(22px, 48px, 700),
  $subheading-2: mat-typography-level(18px, 48px, 700),
  $subheading-1: mat-typography-level(16px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $caption: mat-typography-level(16px, 20px, 400),
  $button: mat-typography-level(16px, 24px, 500),
  $input: mat-typography-level(16px, 1.25, 400)
);
