/*
  mat-palette aceita as variantes $palette-name - (Parâmetros: main, lighter e darker)
*/
$dark-primary: mat-palette($mat-blue-grey, 700, 300, 900); //Paleta Primária: Cores mais amplamente utilizadas em todas as telas e componentes.
$dark-accent: mat-palette($mat-amber, A200, A100, A400); // Paleta de Realce: Cores usadas para o botão de ação flutuante e elementos interativos.
$dark-warn: mat-palette($mat-deep-orange); // Paleta de Aviso: Cores usadas para transmitir o estado de erro.

// Função responsável por criar temas escuros
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    )
  )
);

/*
  Inclua estilos de tema para o núcleo e cada componente usado em seu aplicativo.
  Alternativamente, você pode importar e @incluir os mixins de tema para cada componente que você está usando.
  .unicorn-dark-theme` será afetado por este tema escuro alternativo em vez do tema padrão.
*/
.dark-theme {
  @include angular-material-color($dark-theme);
}
