.warpper {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
  margin: {
    top: 30px;
    bottom: 30px;
  };
}

.app-expansion-panel {
  display: block;
  width: 50%;
  margin: {
    top: 40px;
    right: 30px;
    left: 30px;
  };
}
